*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing:border-box; }
html { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-size: 62.5%; }
* { margin: 0; padding: 0; list-style: none; outline: none; }
body { background: #000; color: #fff; font-family: Arial, Helvetica, sans-serif; }

.container { margin: 60px auto; max-width: 600px; position: relative; width: 100%; }

.header { background: #540977; padding: 0.75rem; }
.footer { border-top: 1px solid #ccc; margin-top: 10px; padding: 1rem; }

.sidebar { width: 200px; }
.content { display: flex; flex-direction: row; flex-flow: wrap row; }
.main { margin-top: 1rem; width: 400px; }
.page-title { margin-bottom: 1rem; }

.link { color: #c977f0; }
/* TAGS */
p { margin-bottom: 1rem; }
/* MENU */
.menu { margin: 2rem 0; }
.menu-item { margin-top: 1rem; }
.menu-item:first-child { margin-top: 0; }
.menu-link { color: #ccc; text-decoration: none; }
.menu-link:hover { text-decoration: underline; }
/* SOCIAL LIST */
.socialList { margin: 1rem 0; text-align: center; }
.socialList-item {display: inline-block; margin-left: 1rem; }
.socialList-item:first-child { margin-left: 0; }
.socialList-link { text-decoration: none; }
/* BIO */
.bio { text-align: center; }
.bio-image { border-radius: 4px; margin: 1rem; }
/* LIST */
.item { margin-top: 1rem;}
.item:first-child { margin-top: 0; }
.item-title { background: #540977; color: #fff; margin: 1rem 0; padding: 1rem; }
.item-title:first-child { margin-top: 0; }
.item-date { color: #eac6fb; margin-top: 1rem; }
.item-content { margin: 1rem 0; }
.item-link { margin-bottom: 1rem; }
.item-tags { margin: 1rem 0; }
.item-tags-tag { background: #fff; border-radius: 4px; color: #000; margin-left: 1rem; padding: 0.2rem 1rem; }
.item-tags-tag:first-child { margin-left: 0; }
/* POST */
.post-title { color: #be60e9; }
.post-date { color: #eac6fb; display: block; margin: 1rem 0; }
.post-tags { margin: 1rem 0; }
.post-tags-tag { color: #fff; margin-left: 1rem; }
.post-tags-tag:first-child { margin-left: 0; }
/* PAGINATION */
.pagination { text-align: right; }
