.component { margin: 2rem 0; }
.component:hover,
.component--active { background-color: #722083; }
.component:focus{ background-color: #390c5e; }
.component-items { display: flex; flex-direction: row; flex-flow: wrap row; padding: 5px; }
.component-item { background-color: #cfade6; display: flex; flex-direction: row; margin: 10px; }
.component-text { color: #390c5e; font-size: 1.4rem; height: 3rem; line-height: 3rem; padding: 0 10px; display: inline-block; }
.component-remove { background-color: #bd19a7; cursor: pointer; display: inline-block; font-size: 1.6rem; font-weight: 700; height: 3rem; line-height: 3rem; text-align: center; width: 3rem; }
.component-remove:hover { background-color: #ee4ebe; }
/* AUTOCOMPLETE */
.autocomplete { display: block; position: relative; margin: 0 10px; }
.autocomplete-container { position: absolute; }
.autocomplete-text { background-color: #c8ade6; color: #390c5e; display: inline-block; font-size: 1.4rem; min-width: 120px; height: 3rem; padding: 5px 10px; }
.autocomplete-list { background-color: #dbade6; border-top: solid 4px #722983; margin: 0; padding:0; width:100%; }
.autocomplete-item { color: #390c5e; cursor: pointer; font-size: 1.4rem; padding: 5px 10px; }
.autocomplete-item:hover { background-color:#640a64; color: #fff; }

.hidden { display: none; }
