.pagination { padding: 15px 0; }

.pagination,
.pagination-list { align-items: center; display: flex; justify-content: center; flex-flow: row wrap; }
.pagination-item { background: #8b1ba1; text-align: center; position: relative; }

.pagination-button {
  background: #b445e7;
  border: 3px solid transparent;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 35px;
  transition: 0.1s;
  width: 35px;
}

span {
  background: #8b1ba1;
  border: 3px solid transparent;
  display: block;
  height: 35px;
  padding: 10px 5px 5px;
  width: 35px;
}

.pagination-button:hover,
.pagination-button.active { border: 3px solid #fdff71; color: #fdff71; position: relative; transform: scale(1.3); z-index: 2; }

.pagination-button:hover { z-index: 3; }

.prev:hover,
.next:hover { border: 3px solid transparent; transform: scale(1); }

.prev,
.next { background: #8b1ba1; border-radius: 0; padding: 6px 15px 5px; }

.prev { border-radius: 25px 0 0 25px; }
.next { border-radius: 0 25px 25px 0; }
